.contacts__title, .bikes__title, .details__title, .more-free__title {
  font-weight: 500;
  letter-spacing: -1.5px;
  text-align: center;
  line-height: 1;
  font-size: calc(32px + 16 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .contacts__title, .bikes__title, .details__title, .more-free__title {
    font-size: calc(48px + 16 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .contacts__title, .bikes__title, .details__title, .more-free__title {
    font-size: 64px;
  }
}

.bikes__prise, .bikes__sub-title, .item-details__title {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.form__submit, .details__button {
  width: calc(280px + 112 * (100vw - 320px) / 424);
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 48px 0px 48px;
  border-radius: 40px;
  background-color: #fff;
  color: #1D1D1D;
  cursor: pointer;
  font-weight: 700;
  line-height: 1.68; /* 27/16 */
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
@media (min-width: 767.98px) {
  .form__submit, .details__button {
    width: calc(392px + -68 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .form__submit, .details__button {
    width: 324px;
  }
}
.form__submit:hover, .details__button:hover {
  -webkit-box-shadow: 1px 4px 16px 0px rgba(232, 232, 240, 0.4);
          box-shadow: 1px 4px 16px 0px rgba(232, 232, 240, 0.4);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

a:focus,
a:active {
  outline: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
  background-color: inherit;
}

input,
button,
textarea {
  font-size: inherit;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

@-webkit-keyframes slide-top {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slide-top {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes slide-right {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes slide-right {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@-webkit-keyframes slide-left {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes slide-left {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
.page {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.4;
  font-weight: 400;
  color: #fff;
  background-color: #1D1D1D;
}
.page__header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
}

.page.lock {
  overflow: clip;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1260px;
  padding-inline: calc(20px + 52 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  [class*=__container] {
    padding-inline: calc(72px + 48 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  [class*=__container] {
    padding-inline: 120px;
  }
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

.header__content {
  position: relative;
  height: calc(86px + 24 * (100vw - 320px) / 424);
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 767.98px) {
  .header__content {
    height: calc(110px + 18 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .header__content {
    height: 128px;
  }
}
.header__content::before {
  content: "";
  display: block;
  opacity: var(--before-opacity, 0);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: calc(86px + 24 * (100vw - 320px) / 424);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: rgba(29, 29, 29, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(5px);
}
@media (min-width: 767.98px) {
  .header__content::before {
    height: calc(110px + 18 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .header__content::before {
    height: 128px;
  }
}
.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (min-width: 576px) {
  .header__icons {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
.header__phone {
  position: relative;
  z-index: 3;
  width: calc(24px + 8 * (100vw - 320px) / 424);
  height: calc(24px + 8 * (100vw - 320px) / 424);
  background-image: url(../../images/icons/call.svg);
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
@media (min-width: 767.98px) {
  .header__phone {
    width: calc(32px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .header__phone {
    width: 32px;
  }
}
@media (min-width: 767.98px) {
  .header__phone {
    height: calc(32px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .header__phone {
    height: 32px;
  }
}
.header__phone:hover {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform: translateY(-5px) scale(1.15);
      -ms-transform: translateY(-5px) scale(1.15);
          transform: translateY(-5px) scale(1.15);
}
.header__phone::before {
  content: attr(data-text);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 50px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
  text-align: right;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header__phone:hover:before {
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  pointer-events: auto;
}
.header__menu {
  position: fixed;
  left: -100%;
  top: 0;
  right: 0;
  height: 100%;
  background: #c2c2c2;
  padding-top: calc(110px + 24 * (100vw - 320px) / 424);
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
@media (min-width: 767.98px) {
  .header__menu {
    padding-top: calc(134px + 18 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .header__menu {
    padding-top: 152px;
  }
}

.header__menu.active {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.header__menu.active:before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: calc(86px + 24 * (100vw - 320px) / 424);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: rgba(194, 194, 194, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(5px);
  z-index: 3;
}
@media (min-width: 767.98px) {
  .header__menu.active:before {
    height: calc(110px + 18 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .header__menu.active:before {
    height: 128px;
  }
}

.page.lock .phone {
  display: none;
}

.logo {
  width: calc(130px + 57 * (100vw - 320px) / 424);
  height: calc(38px + 18 * (100vw - 320px) / 424);
  background-image: url(../../images/icons/logo.svg);
  background-size: cover;
  background-position: center;
  z-index: 3;
}
@media (min-width: 767.98px) {
  .logo {
    width: calc(187px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .logo {
    width: 187px;
  }
}
@media (min-width: 767.98px) {
  .logo {
    height: calc(56px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .logo {
    height: 56px;
  }
}
.logo:hover {
  -webkit-animation: wobble-hor-bottom 0.8s both;
          animation: wobble-hor-bottom 0.8s both;
}

.page.lock .logo {
  background-image: url(../../images/icons/logo-black.svg);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
  margin-bottom: 40px;
}
.menu__link {
  position: relative;
  color: #1d1d1d;
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
}
.menu__link:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 0;
  left: 50%;
  height: 2px;
  background-color: #1d1d1d;
  -webkit-transition: 0 0.4s ease-in;
  transition: 0 0.4s ease-in;
}
.menu__link:hover:before {
  width: 100%;
  left: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}
.menu__links-item {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1d1d;
}
.menu__links-item:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: #1d1d1d;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.menu__links-item:hover:before {
  width: 100%;
  left: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.menu__phone {
  font-size: 16px;
  line-height: 1.68; /* 27/16 */
}

.burger {
  position: relative;
  width: calc(24px + 8 * (100vw - 320px) / 424);
  height: calc(16px + 8 * (100vw - 320px) / 424);
  cursor: pointer;
  z-index: 3;
}
@media (min-width: 767.98px) {
  .burger {
    width: calc(32px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .burger {
    width: 32px;
  }
}
@media (min-width: 767.98px) {
  .burger {
    height: calc(24px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .burger {
    height: 24px;
  }
}
.burger:before, .burger:after, .burger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.burger:before, .burger:after {
  content: "";
}
.burger:before {
  top: 0;
}
.burger:after {
  bottom: 0;
}
.burger span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger:hover:not(.active):before {
  width: 80%;
}
.burger:hover:not(.active):after {
  width: 50%;
}

.burger.active span {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.burger.active:before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
      -ms-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  background-color: #1D1D1D;
}

.burger.active:after {
  top: 50%;
  -webkit-transform: rotate(45deg) translateY(-50%);
      -ms-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  background-color: #1D1D1D;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.main__fullscreen {
  margin-bottom: calc(50px + 50 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__fullscreen {
    margin-bottom: calc(100px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .main__fullscreen {
    margin-bottom: 100px;
  }
}
.main__more-free {
  margin-bottom: calc(82px + 30 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__more-free {
    margin-bottom: calc(112px + 32 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .main__more-free {
    margin-bottom: 144px;
  }
}
.main__bikes {
  margin-bottom: calc(92px + 28 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__bikes {
    margin-bottom: calc(120px + 24 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .main__bikes {
    margin-bottom: 144px;
  }
}
.main__details {
  margin-bottom: calc(70px + 40 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__details {
    margin-bottom: calc(110px + 60 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .main__details {
    margin-bottom: 170px;
  }
}
.main__contacts {
  margin-bottom: calc(120px + -66 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__contacts {
    margin-bottom: calc(54px + 62 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .main__contacts {
    margin-bottom: 116px;
  }
}

.fullscreen {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fullscreen__title {
  position: absolute;
  width: 100%;
  font-weight: 700;
  letter-spacing: -1.5px;
  text-align: center;
  line-height: 0;
  z-index: 2;
  bottom: calc(90px + 40 * (100vw - 320px) / 424);
  font-size: calc(36px + 28 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .fullscreen__title {
    bottom: calc(130px + 75 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .fullscreen__title {
    bottom: 205px;
  }
}
@media (min-width: 767.98px) {
  .fullscreen__title {
    font-size: calc(64px + 16 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .fullscreen__title {
    font-size: 80px;
  }
}
.fullscreen__title svg {
  max-height: 80px;
}
.fullscreen__img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fullscreen img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -o-object-position: 80%;
     object-position: 80%;
}

.draw-title {
  stroke: #fff;
  fill: transparent;
  stroke-width: 1;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-animation: draw 3s linear 0.8s forwards;
          animation: draw 3s linear 0.8s forwards;
}

@-webkit-keyframes draw {
  90% {
    stroke-dashoffset: 0;
  }
  100% {
    fill: #fff;
  }
}

@keyframes draw {
  90% {
    stroke-dashoffset: 0;
  }
  100% {
    fill: #fff;
  }
}
.more-free__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  padding-block: calc(10px + 10 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .more-free__content {
    padding-block: calc(20px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .more-free__content {
    padding-block: 20px;
  }
}
@media (min-width: 576px) {
  .more-free__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.more-free__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  font-size: 23px;
  font-weight: 500;
  opacity: 0;
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
}
.more-free__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -moz-text-align-last: left;
       text-align-last: left;
  margin-bottom: 32px;
  opacity: 0;
  -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
          transform: translateX(-100px);
}
@media (min-width: 576px) {
  .more-free__title:not(:last-child) {
    margin-bottom: 10px;
  }
}

.scroll-anim.active .more-free__title {
  -webkit-animation: slide-right 0.4s linear both;
          animation: slide-right 0.4s linear both;
}

.scroll-anim.active .more-free__text {
  -webkit-animation: slide-right 0.4s linear both;
          animation: slide-right 0.4s linear both;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.details__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: calc(40px + 8 * (100vw - 320px) / 424);
  padding: 10px 0;
}
@media (min-width: 767.98px) {
  .details__content {
    row-gap: calc(48px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .details__content {
    row-gap: 48px;
  }
}
.details__title {
  color: #fff;
}
.details__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: calc(40px + 8 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .details__items {
    row-gap: calc(48px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .details__items {
    row-gap: 48px;
  }
}
.item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}
.item-details__photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (min-width: 576px) {
  .item-details__photos {
    grid-template-columns: repeat(6, 1fr);
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .item-details__photos {
    grid-template-columns: repeat(12, 1fr);
  }
}
.item-details__img {
  height: calc(130px + 57 * (100vw - 320px) / 424);
  position: relative;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  overflow: hidden;
}
@media (min-width: 767.98px) {
  .item-details__img {
    height: calc(187px + 133 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .item-details__img {
    height: 320px;
  }
}
.item-details__img:hover {
  border-radius: 0px 30px 0px 30px;
}
.item-details__img--big {
  grid-column: span 1;
  opacity: 0;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
}
@media (min-width: 576px) {
  .item-details__img--big {
    grid-column: span 4;
  }
}
@media (min-width: 1024px) {
  .item-details__img--big {
    grid-column: span 8;
  }
}
.item-details__img--small {
  grid-column: span 1;
  opacity: 0;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
}
@media (min-width: 576px) {
  .item-details__img--small {
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  .item-details__img--small {
    grid-column: span 4;
  }
}
.item-details img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.item-details img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
@media (min-width: 1024px) {
  .item-details__text {
    max-width: calc(75% - 24px);
  }
}
.item-details__title {
  margin-bottom: 8px;
}
.item-details__description p:not(:last-child) {
  margin-bottom: 10px;
}

.scroll-anim.active .item-details__img--big {
  -webkit-animation: slide-top 0.4s linear both;
          animation: slide-top 0.4s linear both;
}

.scroll-anim.active .item-details__img--small {
  -webkit-animation: slide-top 0.4s linear both;
          animation: slide-top 0.4s linear both;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.bikes__title {
  margin-bottom: calc(48px + 0 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .bikes__title {
    margin-bottom: calc(48px + 8 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .bikes__title {
    margin-bottom: 56px;
  }
}
.bikes__items {
  display: grid;
  grid-template-columns: repeat(1, minmax(280px, 392px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: calc(40px + 8 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .bikes__items {
    row-gap: calc(48px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .bikes__items {
    row-gap: 48px;
  }
}
@media (min-width: 1024px) {
  .bikes__items {
    grid-template-columns: repeat(3, minmax(280px, 324px));
    gap: 24px;
  }
}
.bikes__item {
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
}
.bikes__img {
  position: relative;
  width: 100%;
  aspect-ratio: 324/256;
  margin-bottom: 32px;
}
.bikes__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.bikes__img img:hover {
  -webkit-transform: translateY(-20px) scale(1.1) rotate(-10deg);
      -ms-transform: translateY(-20px) scale(1.1) rotate(-10deg);
          transform: translateY(-20px) scale(1.1) rotate(-10deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.bikes__sub-title {
  margin-bottom: 8px;
}
.bikes__text {
  margin-bottom: 16px;
}
.bikes__text p:not(:last-child) {
  margin-bottom: 10px;
}
.scroll-anim.active .bikes__item {
  -webkit-animation: slide-top 0.4s linear both;
          animation: slide-top 0.4s linear both;
}

.contacts__title {
  margin-bottom: 48px;
}
.contacts__text {
  display: grid;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (min-width: 576px) {
  .contacts__text {
    grid-template-columns: repeat 6, 1fr;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}
.contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
  opacity: 0;
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
}
@media (min-width: 576px) {
  .contacts__items {
    grid-column: 4/5;
  }
}
@media (min-width: 1024px) {
  .contacts__items {
    grid-column: 8/11;
  }
}
.contacts__sub-title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
}
.contacts__link {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  color: #fff;
}
.contacts__link:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.contacts__link:hover::before {
  width: 100%;
  left: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  background-color: #1D1D1D;
  opacity: 0;
  -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
          transform: translateX(-100px);
}
@media (min-width: 576px) {
  .form {
    grid-column: 1/4;
  }
}
@media (min-width: 1024px) {
  .form {
    grid-column: 1/6;
  }
}
.form textarea {
  border-radius: 16px;
  min-height: 148px;
  margin-bottom: 20px;
  font-family: inherit;
  background: #F8F8FA;
}
.form__submit {
  margin-bottom: 48px;
}
.form__item {
  width: 100%;
  padding: 14px 16px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42; /* 20px/14 */
  letter-spacing: 0px;
  text-align: left;
  border-radius: 40px;
  color: #292929;
  background: #F8F8FA;
}
.form__item::-webkit-input-placeholder {
  color: #7e7e83;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.form__item::-moz-placeholder {
  color: #7e7e83;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.form__item:-ms-input-placeholder {
  color: #7e7e83;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.form__item::-ms-input-placeholder {
  color: #7e7e83;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.form__item::placeholder {
  color: #7e7e83;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.form__item:hover::-webkit-input-placeholder .form__item:hover {
  color: #292929;
}
.form__item:hover::-moz-placeholder .form__item:hover {
  color: #292929;
}
.form__item:hover:-ms-input-placeholder .form__item:hover {
  color: #292929;
}
.form__item:hover::-ms-input-placeholder .form__item:hover {
  color: #292929;
}
.form__item:hover::placeholder .form__item:hover, .form__item:focus {
  color: #292929;
}

.scroll-anim.active .form {
  -webkit-animation: slide-right 0.4s linear both;
          animation: slide-right 0.4s linear both;
}

.scroll-anim.active .contacts__items {
  -webkit-animation: slide-right 0.4s linear both;
          animation: slide-right 0.4s linear both;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.footer__img {
  position: relative;
  max-width: 100%;
  height: calc(200px + 280 * (100vw - 320px) / 424);
  background-image: var(--image-url);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 767.98px) {
  .footer__img {
    height: calc(480px + 75 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .footer__img {
    height: 555px;
  }
}
.footer__img img {
  display: none;
}